{{- range .Values.ipAddressPools }}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ .name }}
  namespace: metallb-system
  labels:
{{- .labels | toYaml | nindent 4 }}
spec:
{{- .spec | toYaml | nindent 2 }}
{{- end }}
