{{- range $resource, $data := $.Values.resources }}
{{- if $data.labels }}
{{- range $key, $value := $data.labels }}
---
apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{ printf "label-%s-%s-" ($resource | replace "/" "" | replace "." "" | lower | trunc 10 ) ($key | replace "/" "" | replace "." "" | lower | trunc 10 ) | trunc 30 }}
  namespace: {{ printf "%s-%s" $.Release.Namespace $.Release.Name }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
    helm.sh/hook-weight: "30"
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 10
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: label
          image: {{ $.Values.oseImage }}
          command: ["/bin/sh","-c"]
          args:
            - >-
              {{- if $.Values.installRequiredPythonLibraries }}
              python3 -m venv /tmp/venv &&
              source /tmp/venv/bin/activate &&
              python3 -m pip install openshift-client semver==2.13.0 --index-url {{ $.Values.pythonIndexURL }} --extra-index-url {{ $.Values.pythonExtraIndexURL }} &&
              {{- end }}
              python3 /scripts/label.py
          imagePullPolicy: Always
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: RESOURCE
              value: {{ $resource }}
            - name: LABEL_KEY
              value: {{ $key }}
            - name: LABEL_VALUE
              value: {{ $value | default "''" }}
          volumeMounts:
          - name: python-scripts
            mountPath: /scripts
      volumes:
        - name: python-scripts
          configMap:
            name: ose-python-scripts
            defaultMode: 0777
      dnsPolicy: ClusterFirst
      serviceAccount: patch-services-sa
      serviceAccountName: patch-services-sa
{{- end }}
{{- end }}
{{- end }}
