apiVersion: v1
kind: Service
metadata:
  name: {{ printf "clusters-%s-metallb-ingress" $.Release.Name }}
  namespace: openshift-ingress
  annotations:
    metallb.io/loadBalancerIPs: {{ $.Values.cluster.vips.ingress }}
spec:
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  selector:
    ingresscontroller.operator.openshift.io/deployment-ingresscontroller: default
  type: LoadBalancer
